<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="javascript:void(0)"><b>RoopBasant</b> Printers</a>
    </div>
    <div class="login-box-body">
      <div *ngIf="isLoginError" class="red-text center error-message">
        <i class="fa fa-error"></i> Incorrect UserName and Password.
      </div>
      <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.Value, Password.Value)">
        <div class="form-group has-feedback">
          <input type="number" #UserName ngModel name="UserName" required class="form-control" placeholder="Phone Number" />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" #Password ngModel name="Password" required class="form-control" placeholder="Password" />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox" > Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <a href="#">I forgot my password</a><br>
    </div>
  </div>
</div>
