<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="../../../assets/img/user7-128x128.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Alexander Pierce</p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/"]' (click)='collapse()'>
        <i class="fa fa-book"></i> <span>Dashboard</span>
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/services/wedding-cards/AddInfo"]' (click)='collapse()'>
        <i class="fa fa-book"></i> <span>Wedding Card Add</span>
      </a>
    </li>
  </ul>
</section>
